/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
    font-family:" poppins", sans-serif;
}
p{
  font-size: 17px;
}
span{
    font-size: 17px;
}
label{
    font-size: 17px;
}